h1 {
	text-align: center;
    color: white;
}

#canvas {
	border: solid black 1px; 
	margin: auto; 
	padding: 0; 
	display: block;
}

body {
    font-family: 'Josefin Slab', serif;
    background-image: linear-gradient(to right, blue, green);
}